#categoryInput {
	padding: 5px;
}

.jumbotron {
	padding: 0px 20px 25px 20px;
	margin-bottom: 10px;
}

.btn-info, .btn-success {
	margin: 10px;
}

.results {
	margin:10px;
}

.stillImage, .gifImage {
	padding: 10px;
}